<h1>From</h1>
<label>UserID</label>
<input type="text" formControlName="userID">
<br/>
<label>Password</label>
<input type="password" formControlName="password">
<br/>
<button (ngSubmit)="SubmitForm()">Submit</button>



<div class="login-container">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <small *ngIf="loginForm.get('email')?.errors">Email is required.</small>
          <small *ngIf="loginForm.get('email')?.errors">Enter a valid email.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors">Password is required.</small>
          <small *ngIf="loginForm.get('password')?.errors">Password must be at least 6 characters long.</small>
        </div>
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  