<div class="clearfix p-2">
  <div class="row">
    <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
    <!-- <div class="col-12">Angular 18 Learning code {{ title }}!</div> -->
    <div class="col-2">
      Menus
      <nav>
        <ul>
          <li>
            <!-- <a class="button" routerLink="/first">First</a> | -->
            <!-- <a class="button" routerLink="/second">Second</a> -->
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-10">Content<br /><router-outlet></router-outlet> 
    </div>
  </div>
</div>
